.box{
    text-align: center;
    margin: 10px;
    color: white;
    background: gray;
    border-style: solid;
    border-color: gold;
    font-size: xxx-large;
    }

.col{
    text-align: center;
}
.toast-design{
    text-align: center;
  }